<style type="text/css" media="screen">
  .header .el-form-item {
    margin-bottom: 5px;
  }

  .header .el-select {
    width: 100%;
  }
</style>
<div id="mainVue">
  <el-container style="height: 100%;">
    <el-header style="height: 30px;background-color: #868686;">
      <el-row>
        <el-col :span="12" style="text-align: left;">PT系统</el-col>
        <el-col :span="12" style="text-align: right;">
            <el-tooltip>
              <div slot="content">角色：</div>
              <el-button type="text"><i class="el-icon-caret-bottom"></i></el-button>
          </el-tooltip>
        </el-col>
      </el-row>
    </el-header>
    <el-container>
      <el-aside width="200px">
        <div id="nav-menu">
          <el-menu>
            <el-submenu :index="menu.type" v-for="menu in menuList">
              <template slot="title">{{menu.title}}</template>
              <el-menu-item @click="selectMenu(sMenu)" :index="sMenu.type" v-for="sMenu in menu.subMenu">{{ sMenu.title }}</el-menu-item>
            </el-submenu>
          </el-menu>
        </div>
      </el-aside>
      <el-main>
        <div id="main-content"></div>
      </el-main>
    </el-container>
  </el-container>
</div>

<script src="/js/business/main.js"></script>