<!DOCTYPE html>

<head>
    <title>招聘计划</title>
    <style>
        #plan {
            width: 300px;
            float: left;
        }

        #year {
            width: 300px;
            float: left;
        }

        #month {
            width: 300px;
            float: left;
        }

        /* #planTable {
            float: left;
        } */
        #select {
            height: 70px;
        }

        .text {
            height: 20px;
            width: 100px;
        }
    </style>
</head>

<body>
    <div id="plan">
        <span style="float: left; line-height: 40px;">权限级别：</span>
        <template>
            <el-select v-model="value" placeholder="请选择" @change="handleChange">
                <el-option v-for="item in options_1" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
        </template>
    </div>
    <div id="year">
        <span style="float: left; line-height: 40px;">年份：</span>
        <template>
            <el-select v-model="value" placeholder="请选择" @change="handleChange">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
        </template>
    </div>
    <div id="month">
        <span style="float: left; line-height: 40px;">月份：</span>
        <template>
            <el-select v-model="value" placeholder="请选择" @change="handleChange">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
        </template>
    </div>
    <div id="planTable">
        <el-button type="primary" @click="dialogVisible = true">增加一行</el-button>
        <div class="text"></div>
        <template>
            <el-table :data="items" style="width: 100%;" :default-sort="{prop: 'projectID', order: 'descending'}"
                show-summary stripe border>
                <el-table-column fixed prop="projectID" label="项目编码" width="120" sortable>
                </el-table-column>
                <el-table-column prop="AllNumber" label="总需求人数" width="120" sortable>
                </el-table-column>
                <el-table-column prop="1InNumber" label="1号在岗人数" width="130" sortable>
                </el-table-column>
                <el-table-column prop="Number_disAble" label="离职人数" width="120" sortable>
                </el-table-column>
                <el-table-column prop="Number_exchange" label="调岗人数" width="120" sortable>
                </el-table-column>
                <el-table-column prop="Number_new" label="新上岗人数" width="120" sortable>
                </el-table-column>
                <el-table-column prop="Number_again" label="复用人数" width="120" sortable>
                </el-table-column>
                <el-table-column prop="wait_take" label="待招聘" width="120" sortable>
                </el-table-column>
                <el-table-column prop="Number_study" label="在培人数" width="120" sortable>
                </el-table-column>
                <el-table-column prop="remarks" label="备注" width="153">
                </el-table-column>
                <el-table-column label="操作" width="180">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="handleEditCopy(scope.$index, scope.row)">
                            <i class="el-icon-edit">修改</i>
                        </el-button>
                        <el-button size="mini" @click="delete_plan(scope.$index,scope.row)">
                            <i class="el-icon-delete">删除</i>
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </template>
        <div class="text"></div>
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="page"
            :page-sizes="[5, 10, 20, 40]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
            :total="total">
        </el-pagination>

        <el-dialog title="新增计划" :visible.sync="dialogVisible" :model="aPlan">
            <div>
                <el-row>
                    <el-col :span="12">
                        <template>
                            <!-- <el-input v-model="aPlan.date"><template slot="prepend">日期:</template></el-input> -->
                            <span class="demonstration">日期</span>
                            <el-date-picker v-model="aPlan.date" type="date" placeholder="选择日期">
                            </el-date-picker>
                        </template>
                    </el-col>
                    <el-col :span="12">
                        <el-input v-model="aPlan.projectID"><template slot="prepend">项目:</template></el-input>
                    </el-col>
                </el-row>
                <div class="text">
                    <p></p>
                </div>
                <el-row>
                    <el-col :span="12">
                        <el-input v-model="aPlan.remarks"><template slot="prepend">备注:</template></el-input>
                    </el-col>
                    <el-col :span="12">
                        <el-input v-model="aPlan.AllNumber"><template slot="prepend">总需求人数:</template></el-input>
                    </el-col>
                </el-row>
                <div class="text">
                    <p></p>
                </div>
                <el-row>
                    <el-col :span="12">
                        <el-input v-model="aPlan.permission"><template slot="prepend">权限:</template></el-input>
                    </el-col>
                </el-row>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button @click="add_plan">确定</el-button>
            </span>
        </el-dialog>

        <el-dialog title="修改计划" :visible.sync="dialogVisible_2" :model="uPlan">
            <div>
                <el-row>
                    <el-col :span="12">
                        <el-input v-model="uPlan.AllNumber"><template slot="prepend">总需求人数:</template></el-input>
                    </el-col>
                </el-row>
                <div id="text">
                    <p></p>
                </div>
                <el-row>
                    <el-col :span="12">
                        <el-input v-model="uPlan.remarks"><template slot="prepend">备注:</template></el-input>
                    </el-col>
                </el-row>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible_2 = false">取消</el-button>
                <el-button @click="update_plan">确定</el-button>
            </span>
        </el-dialog>
    </div>


    <script>
    </script>
</body>
<script src="/js/business/planTable.js"></script>